<!DOCTYPE html>
<html>
  <head>
    <title>Grade Search</title>
  </head>
  <body>
    <h1>Grade Search</h1>
    <form action="/grade-search" method="GET">
      <input type="text" name="LessonName" placeholder="Enter Lesson Name" />
      <button type="submit">Search</button>
    </form>

    {{if .Grades}}
    <h2>Search Results</h2>
    <ul>
      {{range .Grades}}
      <li>
        <strong>(LessonName :{{.Grade.LessonName}})</strong> (Score:
        {{.Grade.Score}})
        <ul>
          {{range .Students}}
          <li>{{.Name}}: {{.Age}}</li>
          {{end}}
        </ul>
      </li>
      {{end}}
    </ul>
    {{else}}
    <p>No grades found.</p>
    {{end}}
  </body>
</html>
