<!DOCTYPE html>
<html>
  <head>
    <style>
      input:visited {
        color: rgb(14, 12, 89);
        background-color: transparent;
        text-decoration: none;
      }
      input:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      input:active {
        color: aqua;
        background-color: transparent;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <form>
      <label for="fname"> name:</label><br />
      <input type="text" id="fname" name="fname" value="John" /><br />
      <label for="fname"> id:</label><br />
      <input type="text" id="id" name="id" value="0" /><br />
      <label for="fname"> age:</label><br />
      <input type="text" id="Age" name="Age" value="18" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
