<!DOCTYPE html>
<html>
  <head>
    <style>
      input:visited {
        color: rgb(14, 12, 89);
        background-color: transparent;
        text-decoration: none;
      }
      input:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      input:active {
        color: aqua;
        background-color: transparent;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <form>
      <label for="fname"> Lesson name:</label><br />
      <input type="text" id="Ln" name="Ln" value="math" /><br />
      <label for="fname"> Student id:</label><br />
      <input type="text" id="Sid" name="Sid" value="0" /><br />
      <label for="fname"> Score:</label><br />
      <input type="text" id="Score" name="Score" value="0-20" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
