<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page Title</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <style>
      input:visited {
        color: rgb(14, 12, 89);
        background-color: transparent;
        text-decoration: none;
      }
      input:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      input:active {
        color: aqua;
        background-color: transparent;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>file Student</h1>
    <p>-------------------------------------------------</p>
    <ol>
      <li>See a list student :</li>
      <li>Add grade :</li>
      <li>Add student :</li>
      <li>Add grade to student :</li>
      <li>See student average score :</li>
      <li>Search student :</li>
    </ol>
    <p>-------------------------------------------------</p>

    <form>
      <label for="c">Choose :</label>
      <select id="c" name="c">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <input type="submit" onsubmit="" />
    </form>
  </body>
</html>
